.black-square{
    width: 60px;
    height: 60px;
    background-color: black;
    display:inline-block;
    margin:10px;
}

.pink-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:blueviolet;
    border: 3px solid black;
    display:inline-block;
    margin:10px;
}

.black-ortogonal-trapeze{
    height: 0;
    width: 60px;
    border-bottom: 60px solid black;
    border-left: 60px solid transparent;
    display:inline-block;
    margin:10px;
}

.reverse-blue-triangle{
    width: 0;
    height: 0;
    border-bottom: 60px solid blue;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display:inline-block;
    margin:10px;
}

.blue-triangle{
    width: 0;
    height: 0;
    border-top: 60px solid blue;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    display:inline-block;
    margin:10px;
}

.square{
    width: 300px;
    height: 300px;
    border: 12px solid rgb(116, 4, 82);
    background-color: rgb(140, 107, 231);  
}

.box{
    text-align: center;
    margin: 1em;
    width: 240px;
    height: 84px;
    border: 9px solid rgb(230, 100, 25);
    background-color: rgb(46, 120, 231);  
}

.yellow-circle{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color:yellow;
    border: 3px solid rgb(20, 7, 134);
    display:inline-block;
    margin:5px; 
}

.green-triangle{
    -webkit-text-stroke: 5px rgb(5, 131, 170);
    color: green;
    font-size: 105px;
    display:inline-block;
    margin:5px;  
}

.brown-triangle{
    -webkit-text-stroke: 3px rgb(30, 226, 89);
    color: brown;
    font-size: 72px;
    display:inline-block;
    margin:2.5px;  
}

.red-circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color:red;
    border: 3px solid rgb(20, 197, 159);
    display:inline-block;
    margin:2.5px; 
}

.triangle-border-black{
    width: 0;
    height: 0;
    border-bottom: 60px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-top: 0px;
    margin-right: -7px;
    margin-bottom: -51px;
    margin-left: 0px;
}

.triangle-blue-hard{
    width: 0;
    height: 0;
    border-bottom: 48px solid blue;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}

.sum-triangle-blue{
    display:inline-block;
    margin:2.5px; 
}

.triangle-border-green{
    width: 0;
    height: 0;
    border-bottom: 60px solid rgb(15, 121, 2);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-top: 0px;
    margin-right: -7px;
    margin-bottom: -51px;
    margin-left: 0px;
}

.triangle-sun-hard{
    width: 0;
    height: 0;
    border-bottom: 48px solid rgb(212, 243, 36);
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
}

.sum-triangle-sun{
    display:inline-block;
    margin:2.5px; 
}